.loginForm {
	width: 250px;
	margin: auto;
	text-align: center;
}

$warningColor: red;

.warningBanner {
	margin: 10px;
	padding: 5px;
	color: $warningColor;
	font-size: 14px;
	border: 1px solid $warningColor;
	border-radius: 5px;
}
